/* 此模板来自小胖妞模板网，转载请留链接谢谢 */

.all_news_zh{ width:638px; float:left; margin: 0 0 0 20px; color:#606060;}
.all_news_zh p{ font-size:14px; font-family:"宋体"; line-height:23px; color:#606060; font-weight:normal; padding-bottom:6px;text-align:justify; text-justify:inter-ideograph;}
.all_news_zh p img{  min-height: auto;
    min-width: auto;
    text-align: center;}

.all_news_zh1{ width:940px; float:left; margin: 0 0 0 20px;}
.all_news_zh1 p{ font-size:14px; font-family:"宋体"; line-height:23px; color:#606060; font-weight:normal; padding-bottom:6px;text-align:justify; text-justify:inter-ideograph; text-indent:30px;}
.all_news_zh1 p img{  min-height: auto;
    min-width: auto;
    text-align: center;}



/*新增右侧栏目*/
.new_right{width:240px;height:auto; border:1px solid #d3d3d3; padding:5px 20px; float:left;float:right;}
.new_right li{width:240px; /*width:938px; */height:16px; padding:14px 0 10px; background:url(../images/in_chang_line.png) left bottom repeat-x; font-size:14px; overflow:hidden; font-family:"宋体"; *padding:12px 0 8px; font-size:12px;}
.new_right a{/*width:830px; */width:160px; color:#606060; display:inline-block; float:left; background:url(../images/in_news_small.png) left center no-repeat; padding-left:15px; }
.another{background:none; font-size:14px; color:#164F85; padding:0px;}
.new_right li span{ display:inline-block; float:right; color:#999;}
/*.all_text_cont*/
/*<div class="new_right">
<ul>
<li >
<a target="_blank" href="#" class="another" style="background:none; padding:0px; color:#164F85;">最新新闻</a>
</li>
<li>
<a target="_blank" href="/xinwenzhongxin/gongshanglianhehui/2013-02-02/396.html">李新华董事长当选......</a><span>2013-02-02</span>
</li>
<li>
<a target="_blank" href="/xinwenzhongxin/gongshanglianhehui/2013-02-02/396.html">页岩气勘探潜力大......</a><span>2013-02-02</span>
</li>
<li>
<a target="_blank" href="/xinwenzhongxin/gongshanglianhehui/2013-02-02/396.html">甲醇汽油推广工作......</a><span>2013-02-02</span>
</li>
<li>
<a target="_blank" href="/xinwenzhongxin/gongshanglianhehui/2013-02-02/396.html">庆祝蓝天集团成立......</a><span>2013-02-02</span>
</li>
<li>
<a target="_blank" href="/xinwenzhongxin/gongshanglianhehui/2013-02-02/396.html">蓝天集团深入学习......</a><span>2013-02-02</span>
</li>
<li>
<a target="_blank" href="/xinwenzhongxin/gongshanglianhehui/2013-02-02/396.html">集团公司就业工作......</a><span>2013-02-02</span>
</li>
</li>
</ul>
</div>
<div class="clear"></div>
		*/